$font-mulish: 'Mulish', sans-serif;
$text-main-color: #FFF;
html, body {
  overflow-x: hidden;
}
footer {
  padding-bottom: 80px;
  background: #2B2B2B /* url(../img/bg/womanbg.png) no-repeat*/ ;
  background-position: 396px 5px;
  overflow: hidden;
}
.footer__title {
  font: 100% $font-mulish;
  color: #2A2A2A;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
.footer__description {
  font: 100% $font-mulish;
  color: #2A2A2A;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  opacity: 0.8;
  margin: 12px 0 20px 0;
}
.footer__input {
  box-sizing: border-box;
  width: 280px;
  height: 56px;
  background: inherit;
  border: 2px solid rgba(53, 53, 53, 0.1);
  border-radius: 4px;
  margin-bottom: 12px;
  font: 100% $font-mulish;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  padding-left: 24px;
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__ps {
  font: 100% $font-mulish;
  color: #000000;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  opacity: 0.2;
  width: 320px;
  margin-top: 12px;
}
.footer_img_woman {
  position: absolute;
  top: 2420px;
  left: 490px;
  width: 278px;
  height: 460px;
  object-fit: cover;
  object-position: -2px 0px;
}
.footer_img_womanbg {
  position: absolute;
  top: 2465px;
  left: 396px;
}
.footer__feedback {
  background: #FFFFFF;
  padding: 24px 20px 40px 20px;
}
.footer_img_womanbg_desktop {
  display: none;
}
