$font-mulish: 'Mulish', sans-serif;
$text-main-color: #FFF;

@media (max-width: 320px) {
  .promotions {
    .promotions__view_all_tablet {
      display: none;
    }
  }
  .bottom:not([multiple]) {
    background-repeat: no-repeat;
    background-position: calc(100% - 1em) 1.35em;
    background-size: 0.85em auto;
    background-image: url(../img/icons/arrow2.svg);
  }
}
@media (max-width: 767px) {
  .mobile_menu__optional_buttons {
    display: none;
  }
  .inputs__search {
    display: none;
  }
  .hot_offers__view_all {
    display: none;
  }
  .gallery_img_description {
    top: 10px;
    left: 20px;
    .gallery_img_description__pricing {
      flex-direction: column;
      margin-top: 88px;
    }
    .gallery_img_description__geoposition {
      position: absolute;
      top: 130px;
      left: 83px;
      width: 167px;
    }
  }
  .footer__ps {
    display: none;
  }
  .footer_img_woman, .footer_img_womanbg {
    display: none;
  }
  .filter_buttons {
    display: none;
  }
  .search_button {
    display: none;
  }
}
@media (min-width: 768px) {

  header {
    padding: 20px 40px 0 40px;
  }
  .header_menu {
    justify-content: flex-start;
  }
  .mobile_menu__phone {
    display: none;
  }
  .menu__mobile_menu {
    margin-left: 16px;
    width: 100%;
    justify-content: space-between;
  }
  .navigation__box {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .filter__button {
    display: none;
  }
  .filter__inputs {
    flex-direction: row;
  }
  .header__filter {
    align-items: center;
    width: 100%;
  }
  .inputs__select {
    width: 168px;
  }
  .top {
    border-radius: 8px 0px 0px 8px;
  }
  .bottom {
    border-radius: 0px 8px 8px 0px;
  }
  .filter__inputs {
    justify-content: space-around;
    background: #FFFFFF;
    width: 640px;
    border-radius: 8px;
    margin-top: 64px;
  }
  .filter__advanced_button {
    margin-top: 12px;
    width: 177px;
    position: relative;
    left: -230px;
  }
  .advanced_button__search_icon {
    width: 12px;
  }
  .header__head {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .head__title {
    max-width: 458px;
    font-size: 48px;
    line-height: 52px;
    text-align: center;
    display: flex;
    margin-bottom: 20px;
  }
  .head__description {
    max-width: 425px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  .hot_offers_header {
    padding: 0 40px 0 40px;
  }
  .hot_offers_header__title {
    font-size: 36px;
    line-height: 42px;
  }
  .hot_offers_header__description {
    font-size: 14px;
    line-height: 20px;
    width: 292px;
  }
  .promotions__form {
    width: 560px;
    border: 2px solid #353535;
    border-radius: 20px;
    margin-left: 90px;
    height: 208px;
  }
  .promotions__form_title {
    width: 400px;
    font-size: 20px;
    line-height: 24px;
  }
  .promotions__form_form {
    flex-direction: row;
    align-items: center;
    width: 400px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 20px;
  }
  .promotions__form_button {
    width: 160px;
    height: 48px;
    margin-right: 4px;
  }
  .gallery {
    li {
      width: 312px;
      height: 200px;
    }
    .gallery_img {
      width: 330px;
      height: 218px;
    }
    padding-left: 25px;
    grid-template-columns: repeat(10, 39vw);
    grid-template-rows: 200px;
    height: 220px;

  }
  .promotions {
    .promotions__title {
      font-size: 36px;
      line-height: 42px;
      width: 480px;
      padding: 0 40px 0 40px;
    }
    .promotions__view_all {
      width: 145px;
      height: 40px;
      position: relative;
      left: 235px;
      top: -40px;
      display: none;
    }
    .promotions__view_all_tablet {
      display: inline;
      width: 145px;
      height: 40px;
      position: relative;
      left: 235px;
      top: -40px;
      font: 100% $font-mulish;
      color: #000000;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      box-sizing: border-box;
      background: #FCB216;
      border: 2px solid #FCB216;
      border-radius: 4px;
      margin-bottom: 32px;
      cursor: pointer;
    }
    .promotions__slider {
      .promotions_gallery {
        padding-left: 40px;
      	display: grid;
      	grid-template-columns: repeat(10, 230px);
      	grid-template-rows: 320px;
      	grid-column-gap: 1rem;
      	grid-row-gap: 1rem;
      	overflow: scroll;
      	height: 350px;
      	scroll-snap-type: both mandatory;
      	scroll-padding: 1rem;
        margin: 0;
      }
      .active {
      	scroll-snap-type: unset;
      }
      li {
      	scroll-snap-align: center;
      	display: inline-block;
      	border-radius: 3px;
      	font-size: 0;
        filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.1));
        border-radius: 4px;
        width: 230px;
        height: 320px;
        margin-right: 16px;
      }
      .promotions_gallery_img {
        width: 228px;
        height: 320px;
      }
    }
  }
  .benefits__title {
    padding: 0 40px 0 40px;
    font-size: 36px;
    line-height: 42px;
  }
  .benefits_slider {
    .benefits_gallery {
      padding-left: 40px;
    	grid-template-columns: repeat(10, 315px);
      grid-template-rows: 180px;
      height: 207px;
    }
  }
  .faq {
    padding: 60px 40px 80px 40px;
    .spoiler__content {
      width: 400px;
    }
  }
  footer {
    padding-bottom: 80px;
    .footer__title {
      font-size: 24px;
      line-height: 28px;
      width: 400px;
      color: #000000;
    }
    .footer__description {
      font-size: 16px;
      line-height: 24px;
      color: rgba(0, 0, 0, 0.75);
      opacity: 0.75;
      width: 320px;
    }
  }
  .footer__feedback {
    padding: 32px 40px 40px 40px;
  }
  .footer__form {
    .footer__input {
      border: none;
      margin-bottom: 0;
    }
    flex-direction: row;
    align-items: center;
    border: 2px solid #e1e1e1;
    border-radius: 4px;
    width: 400px;
    height: 56px;
    .footer__form_button {
      margin-right: 4px;
      z-index: 2;
    }
  }
  .filter_buttons {
    display: none;
  }
  .search_button {
    display: none;
  }
}
@media (min-width: 820px) {
  .footer_img_woman {
    left: 542px;
  }
  .footer_img_womanbg {
    left: 448px;
  }
}
@media (min-width: 912px) {
  .footer_img_woman {
    left: 634px;
  }
  .footer_img_womanbg {
    left: 540px;
  }
  .promotions__form {
    margin-left: 175px;
  }
}
@media (min-width: 1024px) {
  .footer_img_woman {
    left: 746px;
  }
  .footer_img_womanbg {
    left: 652px;
  }
  .promotions__form {
    margin-left: 240px;
  }
}
@media (max-width: 1199px) {
  .mobile_menu__controls {
    display: none;
  }
  .faq_form {
    display: none;
  }
}
@media (min-width: 1200px) {
  .mobile_menu__button {
    display: none;
  }
  .filter_buttons {
    display: block;
  }
  .head__title {
    max-width: 600px;
    font-size: 60px;
    line-height: 60px;
    margin-top: 80px;
    margin-bottom: 24px;
  }
  .head__description {
    width: 400px;
    font-size: 16px;
    line-height: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .filter__inputs {
    width: 960px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .inputs__select {

  }
  .top, .middle {
    width: 220px;
  }
  .bottom {
    width: 296px;
  }
  .search {
    display: none;
  }
  .inputs__search {
    width: 220px;
    height: 48px;
  }
  .filter__advanced_button {
    left: -392px;
  }
  .hot_offers_header {
    padding: 0 120px 0 120px;
    display: flex;
    justify-content: space-between;
  }
  .gallery {
    padding-left: 100px;
    grid-template-columns: repeat(3, 26vw);
    grid-template-rows: 200px;
    height: 452px;
  }
  .hot_offers__view_all {
    margin-left: 40vw;
  }
  .promotions {
    .promotions__view_all_tablet {
      left: 573px;
    }
    .promotions__title {
      padding: 0 120px 0 120px;
    }
    .promotions__slider {
      .promotions_gallery {
        padding-left: 120px;
        grid-template-rows: 320px;
        grid-template-columns: repeat(4, 230px);
        height: 325px;
      }
    }
    .promotions__form {
      width: 1020px;
      flex-direction: row;
      justify-content: space-between;
      margin-top: -65px;
    }
  }
  .promotions__form_form {
    margin-right: 30px;
    margin-top: 50px;
  }
  .promotions__form_title {
    margin-top: 60px;
    margin-left: 30px;
    text-align: left;
  }
  .search_button {
    display: inline-block;
  }
  .promotions__form_ps {
    position: absolute;
    top: 1790px;
    left: 680px;
    text-align: left;
  }
  .benefits {
    background: url(../img/bg/bg2.png),  #2B2B2B;

  }
  .benefits__title {
    text-align: center;
    font-size: 40px;
    line-height: 48px;
  }
  .benefits_slider {
    height: 506px;
     .benefits_gallery {
       grid-template-columns: repeat(3, 315px);
       height: 450px;
       justify-content: center;
       align-items: center;
     }
   }
   .card {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .card__title, .card__description {
     text-align: center;
   }
   .faq {
     padding: 60px 120px 80px 120px;
     display: flex;
   }
   .faq_form {
     margin-left: 40px;
   }
   .spoiler__title {
     width: 420px;
   }
   footer {
     /* background: #2B2B2B; */
     padding: 0px 100px 78px 100px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
   }
   .footer__feedback {
     padding: 40px 40px 40px 56px;
     width: 900px;
     border-radius: 20px;
   }
   .footer_img_womanbg {
     display: none;
   }
   .footer_img_womanbg_desktop {
     display: block;
     position: absolute;
     top: 3065px;
     left: 485px;
     z-index: 1;
   }
   .footer_img_woman {
     top: 3000px;
     left: 675px;
     z-index: 2;
     height: 500px;
     width: auto;
   }
   .feedback__border {
     opacity: 0.5;
     border: 2px solid #FCB216;
     border-radius: 30px;
     width: 980px;
     height: 392px;
   }
}
@media (min-width: 1280px) {
  .footer_img_woman {
    left: 746px;
  }
  .footer_img_womanbg {
    left: 652px;
  }
  .promotions__form {
    margin-left: 90px;
  }
  .promotions__form_ps {
    top: 1805px;
  }
}
