@import "header.scss";
@import "benefits.scss";
@import "faq.scss";
@import "footer.scss";
@import "hotoffers.scss";
@import "promotions.scss";
@import "media.scss";

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500&display=swap');

$font-mulish: 'Mulish', sans-serif;
$text-main-color: #FFF;

html, body, p {
  margin: 0;
  padding: 0;
}
